.container {
	width: 580px;
}

.cart {
	margin-top: 0px;
}

.ingredient {
	display: inline;
}

.list,
.elements {
	display: flex;
	flex-direction: column;
	gap: 16px;
	--background-element: #1c1c21;
}

.list {
	height: -webkit-calc(100vh - 530px);
	height: -moz-calc(100vh - 530px);
	height: calc(100vh - 530px);
	overflow-y: scroll;
	overflow-x: hidden;
}

.list::-webkit-scrollbar {
	width: 10px;
	height: 8px;
	background-color: #2f2f37;
}

.list::-webkit-scrollbar-thumb {
	background: #8585ad;
}

.total {
	float: right;
	margin-right: 16px;
	vertical-align: middle;
}

.price {
	display: inline;
}

.onHover {
	background: #646470;
}
.placeholder {
	height: 80px;
	border: dotted 1px #2f2f37;
}
