.container {
    width: 600px;
}
.elements {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list{
    height: -webkit-calc(100vh - 300px);
    height: -moz-calc(100vh - 300px);
    height: calc(100vh - 300px); 
    overflow-y: scroll;
    overflow-x: hidden;
}
.list::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #2F2F37; 
  }
  
 .list::-webkit-scrollbar-thumb {
    background: #8585AD;
 }

