.container {
    height: 720px;
    width: 718px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
    align-items: center;
}
@media screen and (max-height: 720px) {
    .container {
        height: 600px;
    }
    .title {
        margin-top: 60px;
    }
  }
.image {
    width: 120px;
    height: 120px;
}