.container {
	width: 600px;
	margin-top: 72px;
}

.list {
	display: flex;
	flex-direction: row;
	justify-content: flex-start
}

.headerTitle,
.listBox {
	width: 285px;
}

.listBox {
	height: 200px;
	column-count: 5;
	overflow: hidden
}

.ready {
	color: #00CCCC;
}

.number {
	text-shadow: 2px 2px blueviolet;
}