.container {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.links {
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 300px;
}

.outlet {
	width: 300px;
	height: 300px;
	/* display: flex;
	flex-direction: column;
	justify-content: center; */
}