.panel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 88px;
    width: 100%;
    background: #1C1C21;
}
.right,
.logo,
.left {
  flex: 1;
}
.right{
    text-align: end;   
}
.logo{
    text-align: center;
}



