a {
	color: inherit;
}
.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 88px;
	width: 100%;
	background: #1c1c21;
}

.right,
.logo,
.left {
	flex: 1;
}
.right {
	justify-content: center;
}
.logo {
	text-align: center;
}

.left {
	justify-content: center;
}
