.card {
    width: 272px;
    display: inline-block;
    position: relative;
}

.card :hover{
    cursor: pointer;
}

.price,
.name  {
    text-align: center;
    height: 4    
    8px;
}

.counter {
    position: absolute;  
    top: 0;
    right: 0;
}
